{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="mx-0">
  <h1 class="mt-5 font-weight-bold">좋아하는 영화를 선택해 주세요</h1>


  <div class="container">
    <div class="row">

    {% for movie in random_movies %}
        <div class="card bg-dark col-3 my-2 pt-2" style="width: 18rem; border: 10px black solid; border-radius: 25px;">
        <a href="{% url 'movies:like' movie.pk %}" class="text-decoration-none text-light">
          {% if user in movies.like_users.all %}
          <img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" class="card-img-top like-buttons" data-id="{{movie.id}}" style="opacity: 0.4" alt="영화 포스터">
          {% else %}
          <img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" class="card-img-top like-buttons" data-id="{{movie.id}}" style="opacity: 1.0" alt="영화 포스터">
          {% endif %}
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>


<script>
  const likeButtonList = document.querySelectorAll('.like-buttons')
  likeButtonList.forEach(likeButton => {
    likeButton.addEventListener('click', e => {
      const movieID = e.target.dataset.id  //html5 관례
      {% if user.is_authenticated %}
      axios.get(`/movies/${movieID}/like/`)
        .then(res => {
          console.log(res.data.liked)
          if (res.data.liked) {
            e.target.style.opacity = 1.0
          } else {
            e.target.style.opacity = 0.4
          }
        })
      {% else %}
      alert('로그인 하지 않으면 좋아요를 누를 수 없습니다.')
      {% endif %}
    })
  })
</script>
{% endblock %}

